:root{
    --my-col-primary: #081f31;
    --my-col-primary-light: #2c3e50;
    --my-col-secondary: #1abc9c;
}


header nav{
    background-color: var(--my-col-primary);
}

#jumbotron{
    background-color: var(--my-col-secondary);
}

.my-hr{
    border: 2px solid white;
    opacity: 1;
    border-radius: 2px;
}

#about{
    background-color: var(--my-col-secondary);
}

#contact input, 
#contact textarea{
    outline: none;
}

#contact textarea{
    resize: none;
}

#contact input:last-child{
    width: initial;
    background-color: var(--my-col-secondary);
    color: white;
}

#footer-top{
    background-color: var(--my-col-primary-light);
}

#footer-bottom{
    background-color: var(--my-col-primary);
}