:root{
    --my-col-primary: #081f31;
    --my-col-primary-light: #2c3e50;
    --my-col-secondary: #1abc9c;
}

a{
    text-decoration: none;
    color: inherit;
}

header nav{
    background-color: var(--my-col-primary);
}

#jumbotron{
    background-color: var(--my-col-secondary);
}

.my-hr{
    border: 2px solid white;
    opacity: 1;
    border-radius: 2px;
}

#portfolio .my-hr,
#contact .my-hr{
    border-color: var(--my-col-primary);
}

/* #portfolio img{
    border-radius: 20px;
} */

#about{
    background-color: var(--my-col-secondary);
}

#contact input, 
#contact textarea{
    outline: none;
}

#contact input::placeholder, 
#contact textarea::placeholder{
    color: var(--my-col-primary);
}

#contact textarea{
    resize: none;
}

#contact input:last-child{
    width: initial;
    background-color: var(--my-col-secondary);
    color: white;
}

#footer-top{
    background-color: var(--my-col-primary-light);
}

#footer-top h4{
    font-weight: 400;
}

.my-icon-circle{
    height: 35px;
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
    line-height: 35px;
}

#start-bootstrap-link{
    color: var(--my-col-secondary);
}

#start-bootstrap-link:hover{
    text-decoration: underline;
}

#footer-bottom{
    background-color: var(--my-col-primary);
}